 table, td, th
  {
  border:1px solid green;
  border-radius: 5px;
  }



#errmsg{
  color:red;
}
th 
  {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
  text-align:center;
  }

tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  }

  #stop1,#stop2,#stop3 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#b_to_pro{
    float: right;
    /*top: 0px;*/
    /*position: fixed;*/
    display: inline-block;
    padding: 16px 30px;
    background-image: linear-gradient(#ddd, #bbb);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3em;
    box-shadow: 0 1px white inset;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color:yellow;
    font-weight: bold;
}
/*p.intro:link{color:red;}
 p.intro:visited{color:red;}
 p.hover:hover{color:green;}*/
/*
 <span class="t">display name:</span>
  <input id="dis" type="text" name="dname"> <span id="fixname">query</span>
  <br/>
  <span class="t">email address:</span>
  <input id="eaddr" type="text" name="eaddr"><span id="fixeaddr">sh80@rice.edu</span>
  <br/>
  <span class="t">phone number:</span>
  <input id="tele" type="text" name="ftele"> <span id="fixtele">281-235-1879</span>
  <br/>
  <span class="t">zipcode:</span>
  <input id="zip" type="text" name="fzip"> <span id="fixzip">77030</span>
  <br/>
  <span class="t">password:</span>
  <input id="psw" type="password" name="psw"> <span id="fixpsw">qwe</span>
  <br/>
  <span class="t">password confirmation:</span>
  <input id="fpsw" type="password" name="fpsw"> <span id="fixfpsw">qwe</span>
  <br/>
  <input class="update" type="button" value="Update" onclick="change()"> 
  <button class="go" onclick="tz()">return to main page</button>*/
  #fixname,#fixeaddr,#fixtele,#fixzip,#fixpsw,#fixfpsw{
    color:red;
  }
#pro_body {background-image:url("https://content.nike.com/content/dam/one-nike/en_us/season-2017-ho/Basketball/1220_Kyrie_Hub/DT/BBALL_HUB_DT_1221_KYRIE4_P2.jpg.transform/full-screen/BBALL_HUB_DT_1221_KYRIE4_P2.jpg");
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  /*-webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;*/
}
#dis,#eaddr,#tele,#zip,#psw,#fpsw{
    border-radius: 10px;
    text-align: center;
    display: inline-block;

}

#dis:focus{
　　　　border-color: red !important;
　　　　outline: 0;
　　　　-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,150,43,.6);
　　　　box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,150,43,.6);
　　}


.t{
  color:blue;
  text-shadow: 3px 3px 3px;
}
 .update{
    background-color: grey; 
    border-radius: 10px;
    text-align: center;
    padding:15px;
    display: inline-block;
    font-size: 5px;
 }

 .update:hover {background-color: #3e8e41}

.update:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 .go {
    background-color: green; 
    border-radius: 50%;
    border: black;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 5px;
    

}

.go :hover {
    background-color: red; /* Green */
    color: white;
}